#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 10px;
  width: 540px;
  background-color: #24232C;
  height: 528px;
}

#password {
  font-weight: bold;
  font-size: large;
  color: white;
  float: left;
}

.password-wrap {
  padding: 10px;
  width: 540px;
  margin: 0 auto;
  display: block;
  background-color: #24232C;
}

.icon {
  float: right;
}

.generator {
  margin: 20px;
}