#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.password-generator {
  margin: 0 auto;
  padding: 10px;
  width: 540px;
  background-color: #24232C !important;
  height: 528px;
}

.password {
  font-weight: bold;
  font-size: large;
  color: #E6E5EA;
  float: left;
}

.password-placeholder {
  font-weight: bold;
  font-size: large;
  color: #817D92;
  float: left;
}

.password-wrap {
  width: 540px;
  background-color: #24232C !important;
  margin-bottom: 1em;
}

ul {
  border-color: #24232C !important;
}

.password-wrap li {
  background-color: #24232C !important;
  border: #24232C;
}

.icon {
  float: right;
}

.pass-gen-grey {
  color: #817D92;
}

label {
  color: #E6E5EA;
}

.range-input {
  width: 100%;
  accent-color: #A4FFAF;
}

input[type="checkbox"]:checked {
  accent-color: #A4FFAF !important;
  background-color: #A4FFAF !important;
}

.character-length {
  display: block;
}

.character-length label {
  float: left;
}

.character-length .range {
  float: right;
  font-weight: bold;
  font-size: large;
  color: #A4FFAF;
}

.btn-gen {
  width: 100%;
  color: #18171F !important;
  background-color: #A4FFAF !important;
}

.strength-wrap {
  display: block;
}

.strength-card {
  background-color: #18171F !important;
  border: #18171F;
}

.strength-heading {
  float: left;
  color: #817D92;
}

.strength {
  float: right;
}

.strength .label {
  font-size: large;
  color: white;
  margin-right: 0.5em;
}

.btn-0 {
  border-color: #F64A4A !important;
  height: 1.5rem;
  width: 0.2rem;
  margin-left: 0.5rem;
}

.btn-1 {
  border-color: #FB7C58 !important;
  height: 1.5rem;
  width: 0.2rem;
  margin-left: 0.5rem;
}

.btn-2 {
  border-color: #F8CD65 !important;
  height: 1.5rem;
  width: 0.2rem;
  margin-left: 0.5rem;
}

.btn-3 {
  border-color: #A4FFAF !important;
  height: 1.5rem;
  width: 0.2rem;
  margin-left: 0.5rem;
}

.btn-placeholder {
  border-color: white;
  height: 1.5rem;
  width: 0.2rem;
  margin-left: 0.5rem;
}

.iconcolor {
  background-color: #A4FFAF !important;
}