#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.password-generator {
  margin: 0 auto;
  padding: 10px;
  width: 540px;
  background-color: #24232C !important;
  height: 528px;
}

#password {
  font-weight: bold;
  font-size: large;
  color: white;
  float: left;
}

.password-wrap {
  width: 540px;
  margin: 0 auto;
  background-color: #24232C !important
}

ul {
  border-color: #24232C !important;
}

.password-wrap li {
  background-color: #24232C !important;
  border: #24232C;
}

.icon {
  float: right;
}

.pass-gen-grey {
  color: grey;
}

label {
  color: #E6E5EA;
}

.range-input {
  width: 100%;
}

.character-length {
  display: block;
}

.character-length label {
  float: left;
}

.character-length .range {
  float: right;
}

.btn-gen {
  width: 100%;
}

.strength-wrap {
  display: block;
}

.strength-card {
  background-color: #18171F !important;
  border: #18171F;
}

.strength-label {
  float: left;
}

.strength {
  float: right;
}